@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cookie", cursive;
  font-size: 20px;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.container div {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  border: solid 4px black;
  margin: 10px;
  width: 280px;
  height: 380px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 10px black;
  padding: 10px;
}

